.body,
.html {
  padding: 0px;
  margin: 0px;
}
.non-item {
  width: 10%;
}
.container-fluid {
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
}

.container-brand {
  display: flex;
}
.nav-link:hover,
.navbar-brand:hover {
  color: #f44336 !important;
}

.head-content {
  height: 100vh;
  background-color: black;
}
.title {
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: stretch;
  align-items: center;
}
.display-4.col-5 {
  color: #fff;
  text-align: center;
}
.h5 {
  color: #fff !important;
  width: 50%;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}
.description {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn.btn-danger {
  width: 15%;
  border: none;
  border-radius: 25px;
  padding: 20px;
}
.top-description {
  display: flex;
  justify-content: center;
}
.display-6-center {
  padding-bottom: 10px;
  text-align: center;
}
.btn.btn-light.mt-2 {
  height: 50%;
}
.p.col-5 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}
.li-description {
  width: 100%;
  height: 40%;
}
.container-fluid.text-center {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-content {
  border: none;
  border-radius: 25px;
  padding: 20px;
}
.btn-content:hover {
  background-color: aliceblue;
}
#descriptionService {
  height: 60vh;
}
.container-fluid-area {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.text-center {
  width: 100%;
  max-width: 1920px;
}

.li-project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.row.no-gutters {
  z-index: 1;
}
.project-item {
  width: calc(100% / 3);
  height: 230px;
  overflow: hidden;
  position: relative;
}
.size-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-box-caption {
  width: 100%;
  height: 230px;
  background-color: rgba(244, 98, 58, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.project-item:hover .portfolio-box-caption {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn.btn-light {
  height: 30%;
  width: 15%;
  border: none;
  border-radius: 15px;
}
.container-fluid.text-center {
  width: 100%;
  background-color: black;
}
.col {
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.f-description {
  width: 100%;
}
.form-title {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.f-title.text-center {
  padding-top: 10px;
}
.f-description text-center {
  padding-top: 10px;
}
.f-item {
  width: 100%;
}
.form {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.form-control {
  width: 100%;
  margin-bottom: 15px;
}
.f-btn {
  width: 30%;
}
.btn.btn-outline-secondary {
  border: none;
  border-radius: 20px;
  width: 30%;
  background-color: #f44336 !important;
  color: #fff;
}
.btn.btn-outline-secondary:hover {
  background-color: #f4623a;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .head-content {
    padding-bottom: 10px;
    height: 50vh;
  }
  .navbar.navbar-expand-lg.bg-body-tertiary.fluid.col-12 {
    display: flex;
  }
  .menu-area {
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-toggler {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .project-item {
    width: calc(100% / 2);
  }
  .form-content {
    width: 90%;
  }
  .container-fluid-area {
    height: 35%;
  }
  .container.text-center {
    display: flex;
    height: 65%;
  }
  .row {
    display: flex;
  }
  .display-4.col-5 {
    width: 70%;
    color: #fff;
    text-align: center;
  }
  .col-3 {
    width: 50% !important;
    height: 25%;
  }
  .f-btn {
    min-width: 100px;
    padding-bottom: 10px;
  }
  .container-fluid.text-center {
    width: 100%;
  }

  .btn.btn-danger {
    width: 30%;
    border: none;

    border-radius: 25px;
    padding: 20px;
    background-color: #f44336;
  }
  .btn.btn-light.mt-2 {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .head-content {
    height: 80vh;
  }
  .title {
    height: 35%;
  }
  .description {
    height: 30%;
  }
  .h5 {
    width: 100%;
  }
  .col-3 {
    width: 100% !important;
  }
  .project-item {
    width: 100%;
  }
  .display-4.col-5 {
    width: 70%;
    color: #fff;
    text-align: center;
  }
  .col-5 {
    width: 70% !important;
    text-align: center;
  }
  .form-content {
    width: 90%;
  }
  .container-fluid-area {
    height: 30%;
  }
  .btn.btn-light.mt-2 {
    min-width: 50%;
    min-height: 10%;
  }
  .btn.btn-danger {
    min-width: 50%;
    margin-bottom: 5px;
  }
}
