.non-item {
  width: 10%;
}
.container-fluid {
  justify-content: flex-end;
}
.container-brand {
  display: flex;
}
.nav-link:hover,
.navbar-brand:hover {
  color: #f44336 !important;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
  z-index: 1;
}
.head-content {
  /* background-image: url("https://th.bing.com/th/id/R.9bd721984cbec79e5a2405d1894d036e?rik=dcHzFRnQRw2SFA&pid=ImgRaw&r=0"); */
  height: 100vh;
  background-color: black;
}
.title {
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: stretch;
  align-items: center;
}
.display-4.col-5 {
  color: #fff;
  text-align: center;
}
.h5 {
  color: #fff !important;
  width: 70%;
  text-align: center;
  align-items: center;
  margin: 10px;
}
.description {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn.btn-danger {
  width: 15%;
  border: none;
  border-radius: 25px;
  padding: 20px;
}
.top-description {
  display: flex;
  justify-content: center;
}
.display-6-center {
  padding-bottom: 10px;
  text-align: center;
}
.p.col-5 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}
.li-description {
  width: 100%;
  height: 40%;
}
.container-fluid.text-center {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-content {
  border: none;
  border-radius: 25px;
  padding: 20px;
}
.btn-content:hover {
  background-color: aliceblue;
}
#descriptionService {
  height: 60vh;
}
.container-fluid-area {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.text-center {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.row {
  width: 100%;
  max-width: 1920px;
}
.li-project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.project-item {
  width: calc(100% / 3);
  height: 230px;
  overflow: hidden;
  position: relative;
}
.size-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-box-caption {
  width: 100%;
  height: 230px;
  background-color: rgba(244, 98, 58, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.project-item:hover .portfolio-box-caption {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn.btn-light {
  width: 15%;
  border: none;
  border-radius: 15px;
}
#container-footer .row {
  height: 35vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.f-description {
  width: 100%;
}

.form-title {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.f-title.text-center {
  padding-top: 10px;
}
.f-description text-center {
  padding-top: 10px;
}
.f-item {
  width: 100%;
}
.form {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
}

.f-btn {
  width: 30%;
}
.btn.btn-danger {
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .form-content {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .project-item {
    width: calc(100% / 2);
  }

  .btn.btn-light,
  .btn.btn-danger {
    width: 30%;
  }
}

@media only screen and (max-width: 480px) {
  .project-item {
    width: 100%;
  }
  .container-fluid.text-center {
    width: 100%;
  }
  .f-btn {
    min-width: 100px;
    padding-bottom: 10px;
  }
  .btn.btn-danger {
    width: 100%;
  }
 
}
